/********************
POSITIONING
********************/
/* Open Sans Font is awesome */

body {
  padding-top: 70px;
}

.jumbotron {
  padding-left: 20px;
}

.container {
  height: 100%;
  margin-bottom: 50px;
}

.row {
  height: 100%;
}

/* Main: Itinerary View */
#main {
  height: 100%;
}

#itinerary-btn-container {
  margin-top: 20px
}

#itinerary-btns {
  margin-bottom: 5px;
  float: right;
}

#event-btns {
  margin-top: 10px;
}

#rename-itinerary-container {
  float: right;
  width: 250px;
  margin-right: 15px;
}

.media-left {
  float:left;
}

#event-btns {
  position: absolute;
  right:    10px;
  bottom:   10px;
}

.list-group-item-text {
  margin-bottom: 30px;
}

/* Leftbar: Both */
.leftbar {
  height: 100%;
}

/* Leftbar 1: Itinerary List */

#itineraries-list-header {
  margin-top: 20px;
}

#itinerary-create-btn {
  margin-bottom: 20px;
}


/* Leftbar 2: Create New Event */
#create-event-header {
  margin-top: 30px;
}

#event-submit-btn {
  margin-bottom: 20px;
}



/********************
STYLING
********************/

.jumbotron {
  background-image: url('../machu-pichu-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#subtitle {
  color: black;
}

.modal-header {
  font-family: 'Vollkorn', serif;
  color: #2c3e50;
}

#mytinerary-modal {
  font-weight: bold;
}

#itinerary-item {
  background: #2c3e50;
  color: white;
}

#main {
  color: #2c3e50;
}

.btn {
  border: none;
  box-shadow: 0px 3px lightgrey;
  color: white;
  background: #c0392b;
}

.btn:hover {
  border: none;
  color: grey;
  box-shadow: 0px 3px lightgrey;
  background: #c0392b;
}

.btn:active {
  border: none;
  box-shadow: none;
  color: grey;
  background: #c0392b;
  margin-top: 2px;
}

img {
  box-shadow: 2px 2px grey;
}



